<p id="notice"><%= notice %></p>
<h4>Manage Careers</h4>
<br>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Story</th>
      <th>Precedent career</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @careers.each do |career| %>
      <tr>
        <td><%= career.name %></td>
        <td><%= career.title %></td>
        <td><%= career.story.name %></td>
        <td><%= career.precedent_career %></td>
        <td><%= link_to 'Manage Questions Content',
                        story_career_story_questions_path(@story, career), class: "btn btn-sm btn-primary" %></td>
        <td><%= link_to 'Edit', edit_story_career_path(@story, career), class: "btn btn-sm btn-warning" %></td>
        <td><%= link_to 'Destroy', story_career_path(@story, career),
                        method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Career', new_story_career_path(@story), class: "btn btn-sm btn-primary" %>
<%= link_to 'Back to Admin', admin_path, class: "btn btn-sm btn-info right" %>
<br>
