<p id="notice"><%= notice %></p>
<h4>Manage Careers</h4>
<br>
<table>
  <thead>
    <tr>
      <th>Initial</th>
      <th>Precedent</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @careers.each do |career| %>
      <tr>
        <td><%= career.ini_career_path %></td>
        <td><%= career.precedent_career %></td>
        <% unless career.precedent_career == "Initial" %>
        <td><%= link_to 'Manage Questions Content',
                        story_career_story_questions_path(@story.id, career), class: "btn btn-sm btn-primary" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back to Admin', admin_index_path, class: "btn btn-sm btn-info right" %>
<br>
