<% if @stories.present?%>
  <% @stories.each do |s| %>

  <div class="col-lg-4 col-xl-4 col-sm-12 col-md-12">
      <div class="card" style="width: 20rem;min-height: 290px;max-height: 290px;">
        <div class="card-block">
          <h4 class="card-title"><%= s.name %></h4>
          <p class="card-text"><b><%= s.ini_title %> -->  <%= s.sub_title %></b></p>
          <p class="card-text"><b><%= s.ini_company %> -->  <%= s.sub_company %></b></p>
          <p class="card-text"><em>
              "I really enjoyed the companies and people I worked with, but never really had or
              developed a passion for the industry [advertising sales] in itself.
          </em></p>
          <%= link_to "Go to the Story", story_path(s.id), class: "btn btn-primary" %>
        </div>
      </div>
    </div>

  <% end %>
<% end %>

