<% if @stories.present?%>
  <% @stories.each do |story| %>

  <div class="col-lg-4 col-xl-4 col-sm-12 col-md-12 card">
      <div class="cardContainer" data-id="<%= story.id %>">
        <div class="card-header">
          <h4 class="card-title"><%= story.name %></h4>
        </div>
        <div class="card-block">
          <% if check_single_career(story.careers) %>
            <p class="card-text"><b><%= story.ini_career_path %> <%= image_tag("/assets/right-arrow.png", class: "imgArrow") %>  <%= story.careers.order(:created_at).first.name %></b></p>
            <p class="card-text"><b><%= story.ini_company %> <%= image_tag("/assets/right-arrow.png", class: "imgArrow") %> <%= story.careers.order(:created_at).first.company %></b></p>
          <% else %>
            <% story.careers.order(:created_at).each do |career| %>
              <% if career.present? %>
              <p class="card-text">
                <b>
                  <%= get_precedent_career(career) %> <%= image_tag("/assets/right-arrow.png", class: "imgArrow") %>  <%= career.try(:name) %>
                  <br><br>
                  <%= get_initial_company(career) %> <%= image_tag("/assets/right-arrow.png", class: "imgArrow") %> <%= career.try(:company) %>
                </b>
              </p>
              <% end %>
            <% end %>
          <% end %>

          <p class="card-text"><em><%= story.quote.truncate_words(20, omission: '...') %></em></p>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
            <div class="row">
              <div class="col-lg-5 col-xl-5 col-sm-5 col-md-5">
                <small class="text-muted">Submitted: <%= story.created_at.strftime("%d/%m/%Y") %></small>
              </div>
              <div class="col-lg-5 col-xl-5 col-sm-5 col-md-5">
                <%= link_to "View the Story", story_path(story.id), class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <% end %>
<% else %>
  <div class="col-lg-12 col-md-12 col-sm-12 centerText">
    <h4>Can't find Stories</h4>
  </div>
  <br><br>
<% end %>

