<% content_for(:body_attributes) do %>
  data-turbolinks="false"
<% end %>
<div class="container container-fluid">
  
  <div class="row main-top-row">
    <div class="col-lg-4 col-md-4 col-sm-5">
      <div  class="center-vertical left-panel">
        <h1 class="h1-custom d-none d-sm-block">Curve Your Career</h1>
        <h4 class="h4-custom d-none d-sm-block">Find fulfillment and happiness in your job</h4>
        </br>
        <div id="dynamicFilter">
          <%= render "filter" %>
        </div>
      </div>      
    </div>
    <div class="col-lg-8 col-md-8 col-sm-7 d-none d-sm-block d-lg-block">
      <%= render "carousel" %>
    </div>
  </div>  
</div>
</br>
<%= form_with url: sort_by_path do |form| %>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 h5">      
      <div class="select-div3">
        <span class="color-purple col-12" id="storiesCount"><%= @stories.count %></span>
        &nbsp;Success Stories
        <div class="row result-div">
          <%= form.select :sort_by, ["Newest", "Oldest", "Longest", "Shortest"],
                        { include_blank: "Sort By" }, { class: "form-control col-lg-3 col-md-3 col-sm-12 col-12 right select-styless", id: "sortBy" } %>
          <div id="resultsContainer" class="">
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>
<% end %>
<div class="container-fluid">
  <div id="cardsContainer" class="row">
      <%= render "story_card.html.erb", stories: @stories %>
  </div>
</div>

<script>
  $("#sortBy").on("change", function(){
    var value = $("#sortBy").val();
    var ids = []
    $(".cardContainer").each(function( index ) {
      ids.push($( this ).data("id"));
    });
    var request = $.ajax({
      type: 'GET',
      url: '/sort_by',
      data: { value: value, ids: ids },
      dataType: 'script'
    });
  });

  $('select[name=ini_career_path]').on("click", function(){
    ga('send', 'event', 'initialCareerClick', 'click', 'Clicked initial career dropdown');
  });
  $('select[name=sub_career_path]').on("click", function(){
    ga('send', 'event', 'subsequentCareerClick', 'click', 'Clicked subsequent career dropdown');
  });
  $('input[name=commit]').on("click", function(){
    ga('send', 'event', 'filterStoriesClick', 'click', 'Clicked Filter Stories');
  });
  $('select[name=sort_by]').on("click", function(){
    ga('send', 'event', 'sortByClick', 'click', 'Clicked Sort By');
  });

  // Dynamic career options for select
  dynamicFilter();

  //carousel
  $('.carousel').carousel({
    interval: 2000
  })
</script>
