<% content_for(:body_attributes) do %>
  data-turbolinks="false"
<% end %>
<div class="container container-fluid"><br>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
      <h2>Curate Your Career</h2>
    </div><br><br>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
      <h4>Find fulfillment and happiness in your job</h4>
    </div><br><br><br><br>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
      <div class="row">
        <div class="col-lg-4 col.md-12 col-sm-12 col-xs-12">
        <div>
          <%= image_tag("/assets/arrows-512b.png", class: "imgResponsive") %><br>
          Hear about how people just like you were able to change careers
        </div>
      </div>
      <div class="col-lg-4 col.md-12 col-sm-12 col-xs-12">
        <div>
          <%= image_tag("/assets/bareers-200b.png", class: "imgResponsive") %><br>
          Learn how to overcome financial, mental, and social barriers holding you back
        </div>
      </div>
      <div class="col-lg-4 col.md-12 col-sm-12 col-xs-12">
        <div>
          <%= image_tag("/assets/messaging-200b.png", class: "imgResponsive") %><br>
          Gain tactical guidance on what steps you could take to get to your dream career
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<br><br><br><br>
<%= form_with url: filter_by_path do |form| %>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col.md-12 col-sm-12 col-xs-12 centerText h5">
      <b>
        <div class="col-lg-3 col.md-12 col-sm-12 col-xs-12 inlineBlock">My current career is in</div>
        <%= form.select :ini_career_path, get_options("Career Path"),
                        { include_blank: "Anything" }, { class: "form-control col-lg-2 col.md-12 col-sm-12 col-xs-12 inlineBlock" } %>
        <div class="col-lg-3 col.md-12 col-sm-12 col-xs-12 inlineBlock">and I am interested in</div>
        <%= form.select :sub_career_path, get_options("Career Path"),
                        { include_blank: "Anything" }, { class: "form-control col-lg-2 col.md-12 col-sm-12 col-xs-12 inlineBlock" } %>
      </b>
    </div>
  </div>
</div>
<br>
<div class="centerText">
  <%= form.submit "Filter Stories", class: "btn btn-primary" %>
</div>
<% end %>
<br>
<%= form_with url: sort_by_path do |form| %>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 h5">
      <b>
        <%= form.select :sort_by, ["Newest", "Oldest", "Longest", "Shortest"],
                        { include_blank: "Sort By" }, { class: "form-control col-3 inlineBlock right", id: "sortBy" } %>
      </b>
    </div>
  </div>
</div>
<% end %>
<div class="container-fluid">
  <div id="cardsContainer" class="row">
      <%= render "story_card.html.erb", stories: @stories %>
  </div>
</div>

<script>
  $("#sortBy").on("change", function(){
    var value = $("#sortBy").val();
    var ids = []
    $(".cardContainer").each(function( index ) {
      ids.push($( this ).data("id"));
    });
    var request = $.ajax({
      type: 'GET',
      url: '/sort_by',
      data: { value: value, ids: ids },
      dataType: 'script'
    });
  });
</script>
