<%= form_with(model: story) do |form| %>
  <% if story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-xl-12">
        <h4>Personal Story info</h4>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-12 col-xl-12">
        <div class="form-group row">
          <%= form.label :name, class: "col-form-label col-2" %>
          <%= form.text_field :name, id: :story_name, class: "form-control col-9" %>
        </div>
      </div>
      <div class="col-lg-12 col-xl-12">
        <div class="form-group row">
          <%= form.label :location, class: "col-form-label col-2" %>
          <%= form.text_field :location, id: :story_location, class: "form-control col-9" %>
        </div>
      </div>
      <div class="col-lg-12 col-xl-12">
        <div class="form-group row">
          <%= form.label :education, class: "col-form-label col-2" %>
          <%= form.text_field :education, id: :story_education, class: "form-control col-9" %>
        </div>
      </div>
      <div class="col-lg-12 col-xl-12">
        <div class="form-group row">
          <%= form.label :linkedin_url, "LinkedIn", class: "col-form-label col-2" %>
          <%= form.text_field :linkedin_url, id: :story_linkedin_url, class: "form-control col-9" %>
        </div>
      </div>
      <div class="col-lg-12 col-xl-12">
        <div class="form-group row">
          <%= form.label :vanity_url, "Vanity Url", class: "col-form-label col-2" %>
          <%= form.text_field :slug, id: :story_slug, class: "form-control col-6" %>
          <span class="col-4">e.g. "some vanity url"</span>
        </div>
      </div>
      <div class="col-lg-12 col-xl-12">
        <div class="form-group row">
          <%= form.label :quote, "Quote", class: "col-form-label col-2" %>
          <%= form.text_field :quote, id: :story_quote, class: "form-control col-9" %>
        </div>
      </div>
      <div class="col-lg-12 col-xl-12">
        <div class="form-group row">
          <%= form.label :meta_name, "Meta Tag Name", class: "col-form-label col-2" %>
          <%= form.text_field :meta_name, id: :story_meta_name, class: "form-control col-6" %>
        </div>
      </div>
      <div class="col-lg-12 col-xl-12">
        <div class="form-group row">
          <%= form.label  :meta_content, "Meta Tag Content", class: "col-form-label col-2" %>
          <%= form.text_field :meta_content, id: :story_meta_content, class: "form-control col-9" %>
        </div>
      </div>
      <div class="col-lg-12 col-xl-12">
        <div class="form-group row">
          <%= form.label :story_meta_title, "Meta Tag Title", class: "col-form-label col-2" %>
          <%= form.text_field :story_meta_title, id: :story_meta_title, class: "form-control col-9" %>
        </div>
      </div>      
      <div class="col-lg-12 col-xl-12">
        <div class="form-group">
            <%= form.label :sumary, "Summary", class: "col-form-label" %>
            <%= form.text_area :sumary, id: :story_sumary, class: "form-control textArea" %>
        </div>
      </div>
    </div>

    <div class="hrDivider col-lg-12 col-xl-12"></div>
    <div class="col-lg-12 col-xl-12"><br></div>

    <div class="row">
      <br>
      <div id="careerPathContainer" style="width: 70%">
        <%= form.fields_for :careers do |form_career| %>
          <%= render 'career_fields', form: form_career, story: form %>
        <% end %>
      </div>

      <div class="col-12">
        <%= link_to_add_fields "Add Career Path", form, :careers %>
      </div>      
    </div>
    <br>
  </div>
  <br>
  <div class="col-lg-12 col-xl-12">
    <div class="form-group">
      <div class="actions">
        <%= form.submit :Submit, class: "btn btn-success" %>
      </div>
    </div>
  </div>
  <br>
<% end %>

<script>
  bindMultiForms();
</script>
