<%= form_with(model: story, local: true) do |form| %>
  <% if story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xl-5">
        <div class="form-group row">
          <%= form.label :name, class: "col-form-label col-5" %>
          <%= form.text_field :name, id: :story_name, class: "form-control col-6" %>
        </div>
      </div>
      <div class="col-lg-6 col-xl-6">
        <div class="form-group row">
          <%= form.label :location, class: "col-form-label col-3" %>
          <%= form.text_field :location, id: :story_location, class: "form-control col-6" %>
        </div>
      </div>
      <div class="col-lg-12 col-xl-12">
        <div class="form-group row">
          <%= form.label :linkedin_url, "LinkedIn", class: "col-form-label col-2" %>
          <%= form.text_field :linkedin_url, id: :story_linkedin_url, class: "form-control col-9" %>
        </div>
      </div>
      <div class="hrDivider col-lg-12 col-xl-12"></div>
      <div class="col-lg-12 col-xl-12"><br></div>

      <div class="col-lg-5 col-xl-5">
        <div class="form-group row">
          <%= form.label :ini_age, "Initial Age", class: "col-form-label col-5"  %>
          <%= form.number_field :ini_age, id: :story_ini_age, class: "form-control col-2" %>
        </div>
        <div class="form-group row">
          <%= form.label :ini_title, "Initial Title", class: "col-form-label col-5"  %>
          <%= form.text_field :ini_title, id: :story_ini_title, class: "form-control col-6" %>
        </div>
        <div class="form-group">
          <%= form.label :ini_career_path, "Initial Career Path", class: "col-form-label"  %>
          <%= form.text_field :ini_career_path, id: :story_ini_career_path, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :ini_industry, "Initial Industry", class: "col-form-label"  %>
          <%= form.text_field :ini_industry, id: :story_ini_industry, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :ini_company, "Initial Company", class: "col-form-label"  %>
          <%= form.text_field :ini_company, id: :story_ini_company, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :ini_company_type, "Initial Company Type", class: "col-form-label"  %>
          <%= form.text_field :ini_company_type, id: :story_ini_company_type, class: "form-control" %>
        </div>
      </div>

      <div class="col-lg-6 col-xl-6">
        <div class="form-group row">
          <%= form.label :sub_age, "Subsequent Age", class: "col-form-label col-5"  %>
          <%= form.number_field :sub_age, id: :story_sub_age, class: "form-control col-2" %>
        </div>
        <div class="form-group row">
          <%= form.label :sub_title, "Subsequent Title", class: "col-form-label col-5"  %>
          <%= form.text_field :sub_title, id: :story_sub_title, class: "form-control col-5" %>
        </div>
        <div class="form-group">
          <%= form.label :sub_career_path, "Subsequent Career Path", class: "col-form-label"  %>
          <%= form.text_field :sub_career_path, id: :story_sub_career_path, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :sub_industry, "Subsequent Industry", class: "col-form-label"  %>
          <%= form.text_field :sub_industry, id: :story_sub_industry, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :sub_company, "Subsequent Company", class: "col-form-label"  %>
          <%= form.text_field :sub_company, id: :story_sub_company, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :sub_company_type, "Subsequent Company Type", class: "col-form-label"  %>
          <%= form.text_field :sub_company_type, id: :story_sub_company_type, class: "form-control" %>
        </div>
      </div>

      <div class="hrDivider col-lg-12 col-xl-12"></div>
      <div class="col-lg-12 col-xl-12"><br></div>

      <div class="col-lg-12 col-xl-12">
        <div class="form-group">
            <%= form.label :sumary, class: "col-form-label" %>
            <%= form.text_area :sumary, id: :story_sumary, class: "form-control textArea" %>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="col-lg-12 col-xl-12">
    <div class="form-group">
      <div class="actions">
        <%= form.submit :Submit, class: "btn btn-success" %>
      </div>
    </div>
  </div>
<% end %>
