<div class="container">
  <p class="h5">
    <strong>Name:</strong>
    <%= @story.name %>
  </p>

  <p class="h5">
    <strong>Location:</strong>
    <%= @story.location %>
  </p>
  <p class="h5">
    <strong>Education:</strong>
    <%= @story.education %>
  </p>
  <p class="h5">
    <strong>Linkedin url:</strong>
    <a href="<%= @story.linkedin_url %>" target="_blank"><%= @story.linkedin_url %></a>
  </p>
  <br>
  <div class="row">
    <div class="col-lg-10 col-sm-12 col-xl-6">
      <table class="table table-striped table-bordered">
        <thead class="grayTable">
          <th></th>
          <th><strong>Initial</strong></th>
          <th><strong>Subsequent</strong></th>
        </thead>
        <tbody class="h5">
          <tr>
            <td class="grayTable"><strong>Age</strong></td>
            <td><%= @story.ini_age %></td><td><%= @story.sub_age %></td>
          </tr>
          <tr>
            <td class="grayTable"><strong>Job Title</strong></td>
            <td><%= @story.ini_title %></td><td><%= get_sub_title(@careers) %></td>
          </tr>
          <tr>
            <td class="grayTable"><strong>Career Path</strong></td>
            <td><%= @story.ini_career_path %></td><td><%= get_sub_career_path(@careers) %></td>
          </tr>
          <tr>
            <td class="grayTable"><strong>Idustry</strong></td>
            <td><%= @story.ini_industry %></td><td><%= get_sub_industry(@careers) %></td>
          </tr>
          <tr>
            <td class="grayTable"><strong>Company</strong></td>
            <td><%= @story.ini_company %></td><td><%= get_sub_company(@careers) %></td>
          </tr>
          <tr>
            <td class="grayTable"><strong>Company Type</strong></td>
            <td><%= @story.ini_company_type %></td><td><%= get_sub_company_type(@careers) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <p class="h5">
    <strong>Sumary</strong>
    <br>
    <%= @story.sumary %>
  </p>
  <br>
  <p class="h5">
    <strong>Table of Contents</strong>
    <br>
    <% if check_single_career(@careers) %>
      <%= render "questions_list", career: @careers.first %>
    <% else %>
      <% i = 0 %>
      <% @careers.each do |career| %>
        <% i+= 1 %>
        <div class="h5">
          <p class="h5">
            <b>Career Change #<%= i %>:</b>
            <%= get_precedent_career(career) %> --> <%= career.name %> / <%= career.title %>, <%= career.company %>
          </p>
          <p class="h5">
            <% career.story_questions.each do |sq| %>
              <a href="/stories/<%= sq.story_id %>#question-<%= sq.id %>"><%= sq.question %></a>
              <br>
            <% end %>
          </p>
        </div>
      <% end %>
      <br>
      <p class="h5">
        <strong>The Story</strong>
      </p>
      <% i = 0 %>
      <% @careers.each do |career| %>
        <% i+= 1%>
        <p class="h5">
            <b>Career Change #<%= i %>:</b>
            <%= get_precedent_career(career) %> --> <%= career.name %> / <%= career.title %>, <%= career.company %>
          </p>
        <div class="h5">
          <%= render "questions_list", career: career %>
        </div>
      <% end %>
    <% end %>
  </p>
  <%= link_to 'Back', root_path, class: "btn btn-info" %>
  <br>
  <br>
  <span></span>
</div>
