<div class="container mobileShow lg-width">
  <div class="row">
    <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
      <br>
      <%= link_to 'Back to home', root_path, class: "btn btn-primary right" %>
      <br>
      <br>
      <h2 class="centerText"><%= @story.name %></h2>
      <div class="container h5">
        <p class="h5">
        </p>
        <p class="h5">
          <strong>Location:</strong> <%= @story.location %>
        </p>
        <p class="h5">
          <strong>Education:</strong> <%= @story.education %>
        </p>
        <p class="h5">
          <strong>Linkedin:</strong>
          <a href="<%= @story.linkedin_url %>" target="_blank" class="storyLink"><%= @story.linkedin_url %></a>
        </p>
      </div>
      <br>
      <div class="row" style="margin: 0 auto;">
        <div class="col-lg-10 col-xl-10 col-sm-12 col-md-12">
          <%= render "story_table", story: @story %>
        </div>
      </div>
      <br>
      <div class="container h5">
        <p class="h5">
          <strong><b>Career Path</b></strong>
          <br>
          <% @story.careers.order(:created_at).each do |career| %>
            <% if @story.careers.order(:created_at).last == career %>
              <%= career.ini_career_path %>
            <% else %>
              <%= career.ini_career_path %> <%= image_tag("/right-arrow.png", class: "imgArrowStory") %>
            <% end %>
          <% end %>
          <br><br>
          <strong><b>Jobs</b></strong>
          <br>
          <% @story.careers.order(:created_at).each do |career| %>
            <% career.jobs.each do |job| %>
              <% if (career.jobs.order(:created_at).last == job) && (@story.careers.order(:created_at).last == career) %>
                <%= job.title %>, <%= job.company %>
              <% else %>
                <%= job.title %>, <%= job.company %> <%= image_tag("/right-arrow.png", class: "imgArrowStory") %>
              <% end %>
            <% end %>
          <% end %>
        </p>
      </div>
      <br>
      <div class="container h5">
        <p class="h5">
          <strong><b>Summary</b></strong>
          <br>
          <div class="h5"><%= markdown(@story.sumary) %></div>
        </p>
      </div>
      <br>
      <p class="h5">
        <strong>Table of Contents</strong>
        <br>
        <% i = 0 %>
        <% @story.careers.order(:created_at).each do |career| %>
          <% unless career.precedent_career.include?("Initial") %>
            <div class="h5">
              <p class="h5">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <b>Career Change #<%= i %>:</b>
                  <%= get_precedent_career(@story, career) %> <%= image_tag("/right-arrow.png", class: "imgArrowStory") %> <%= career.ini_career_path %>
                </div>
              </p>
              <div class="container">
                <p class="h5">
                  <% career.story_questions.order(:created_at).each do |sq| %>
                    <a href="/stories/<%= career.story.slug %>#question-<%= sq.id %>" data-turbolinks="false"><%= sq.question %></a>
                    <br>
                  <% end %>
                </p>
              </div>
            </div>
          <% end %>
          <% i+= 1 %>
          <br>
        <% end %>
      </p>
      <p class="h5">
        <strong>The Story</strong>
      </p>
      <% i = 0 %>
      <% @story.careers.order(:created_at).each do |career| %>
        <% unless career.precedent_career.include?("Initial") %>
          <div class="h5">
            <p class="h5">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <b>Career Change #<%= i %> Jobs:</b>
                <% if check_single_job(career.jobs) %>
                  <%= get_precedent_job(@story, career) %> <%= image_tag("/right-arrow.png", class: "imgArrowStory") %> <%= career.jobs.order(:created_at).first.title %>, <%= career.jobs.order(:created_at).first.company %>
                <% else %>
                  <% career.jobs.order(:created_at).each do |job| %>
                    <% if career.jobs.first == job %>
                      <%= get_precedent_job(@story, career) %> <%= image_tag("/right-arrow.png", class: "imgArrowStory") %> <%= job.title %>, <%= job.company %>
                    <% else %>
                      <%= image_tag("/right-arrow.png", class: "imgArrowStory") %> <%= job.title %>, <%= job.company %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </p>
            <div class="container">
                <div class="h5">
                  <%= render "questions_list", career: career %>
                </div>
            </div>
          </div>
        <% end %>
        <% i+= 1%>
      <% end %>
    </div>
  </div>
</div>
