<table class="table table-striped table-bordered">
  <thead class="grayTable">
    <th></th>
    <th><strong>Initial</strong></th>
    <th><strong>Subsequent</strong></th>
  </thead>
  <tbody class="h5">
    <tr>
      <td class="grayTable"><strong>Age</strong></td>
      <td><%= @story.careers.order(:created_at).first.jobs.order(:created_at).first.age %></td>
      <td><%= @story.careers.order(:created_at).last.jobs.order(:created_at).last.age %></td>
    </tr>
    <tr>
      <td class="grayTable"><strong>Job Title</strong></td>
      <td><%= @story.careers.order(:created_at).first.jobs.order(:created_at).first.title %></td>
      <td><%= get_sub_title(@story) %></td>
    </tr>
    <tr>
      <td class="grayTable"><strong>Career Path</strong></td>
      <td><%= @story.careers.order(:created_at).first.ini_career_path %></td>
      <td><%= get_sub_career_path(@story) %></td>
    </tr>
    <tr>
      <td class="grayTable"><strong>Industry</strong></td>
      <td><%= @story.careers.order(:created_at).first.jobs.order(:created_at).first.industry %></td>
      <td><%= get_sub_industry(@story) %></td>
    </tr>
    <tr>
      <td class="grayTable"><strong>Company</strong></td>
      <td><%= @story.careers.order(:created_at).first.jobs.order(:created_at).first.company %></td>
      <td><%= get_sub_company(@story) %></td>
    </tr>
    <tr>
      <td class="grayTable"><strong>Company Type</strong></td>
      <td><%= @story.careers.order(:created_at).first.jobs.order(:created_at).first.company_type %></td>
      <td><%= get_sub_company_type(@story) %></td>
    </tr>
  </tbody>
</table>
