<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @story.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @story.location %>
</p>

<p>
  <strong>Linkedin url:</strong>
  <%= @story.linkedin_url %>
</p>

<p>
  <strong>Ini age:</strong>
  <%= @story.ini_age %>
</p>

<p>
  <strong>Sub age:</strong>
  <%= @story.sub_age %>
</p>

<p>
  <strong>Ini title:</strong>
  <%= @story.ini_title %>
</p>

<p>
  <strong>Sub title:</strong>
  <%= @story.sub_title %>
</p>

<p>
  <strong>Ini career path:</strong>
  <%= @story.ini_career_path %>
</p>

<p>
  <strong>Sub career path:</strong>
  <%= @story.sub_career_path %>
</p>

<p>
  <strong>Ini industry:</strong>
  <%= @story.ini_industry %>
</p>

<p>
  <strong>Sub industry:</strong>
  <%= @story.sub_industry %>
</p>

<p>
  <strong>Ini company:</strong>
  <%= @story.ini_company %>
</p>

<p>
  <strong>Sub company:</strong>
  <%= @story.sub_company %>
</p>

<p>
  <strong>Ini company type:</strong>
  <%= @story.ini_company_type %>
</p>

<p>
  <strong>Sub company type:</strong>
  <%= @story.sub_company_type %>
</p>

<p>
  <strong>Sumary:</strong>
  <%= @story.sumary %>
</p>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
