<% if (@title.present? && @description.present?) %>
  <title><%= @title %></title>
  <meta name="description" content="<%= @description %>">
<% else %>
  <% if @story.present? %>
    <title><%= @title %></title>
    <% if @story.meta_name.present? && @story.meta_content.present? %>
      <meta name="<%= @story.meta_name %>" content="<%= @story.meta_content %>">
    <% end %>
  <% end %>
  <% if @post.present? %>
    <% if @post.meta_name.present? && @post.meta_content.present? %>
      <meta name="<%= @post.meta_name %>" content="<%= @post.meta_content %>">
    <% end %>
  <% end %>
<% end %>
