<!DOCTYPE html>
<html>
  <head>
    <title>CurveYc</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render "shared/utilities/bootstrap" %>
  </head>

  <body>

    <%= render 'layouts/navigation' %>

    <div class="container container-fluid">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
